venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

db.sqlite3
media/
static_cdn/

.env
.env.example

.vscode/
.idea/

.DS_Store
Thumbs.db

.pytest_cache/
htmlcov/
.coverage

*.log

*.bak
*_del

*.egg-info